body{background-color: brown;
color: azure;
margin: 0%;
padding: 0%;
min-height: 100vh; /* Ensures body takes full viewport height */
        display: flex;
        flex-direction: column; 

    }


span{font-style: oblique;
   color:rgb(255, 229, 100);
    outline-color: rgb(54, 99, 58);
}

header{text-align: center;}

ul{justify-content: left;

}

.navbar{background-color: rgb(114, 19, 19);
padding: 5em;
}

.logo{
    text-decoration: none;
    font-weight: bold;
    color: black;
    font: size 1.2em; ;
}

footer{
    background-color: rgb(1, 16, 16);
text-align: center;
font-weight: bolder;
color: rgb(255, 229, 100);
border-width: 100%;
margin: 0%;
padding: 0%;
margin-top: auto;
}

.jin{
    color: black;
}

em{
    color: rgb(255, 229, 100);
}

h1{
    color: rgb(255, 229, 100);
}

.container{
   background-color: rgba(118, 103, 103, 0.048);
   border-radius: 10px;
}

main{
    text-align: center;
}